
.mainTitle{
    text-align: center;
    text-decoration: double;
    border: 1em solid black;
    max-width: 40%;
    margin: auto;
}


.movieList{
    border: 1em solid goldenrod;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

.movie{
    border: 0.5em solid black;
    margin: 1em;
    padding: 1em;
}

.video{
    border: 1em solid goldenrod;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.video, iframe{
    margin: 1em;
}